*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}


:root{
    --color-primario:#0f172a;
    --color-secundario:#cbd5e1;
    --color-ternario:#1e293b;
    --color-fucsia:#e9409f;
    --white:rgb(238, 238, 238);
    --black:#000;
}


header{
    width: 100%;
    height: 80px;
    background-color: var(--color-primario);
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.emailBox{
    
    width: 11rem;
    padding: .3rem;
    background-color: #7195df;
    border-radius: 10px ;
    border: 3px solid;
    border-color: var(--color-fucsia);
    color: var(--white);

}
 nav{
    width: 30%;
    display: flex;
    align-items: center;
 }
 nav a{
    padding: 0 1rem;
 }
 nav a img{
    width: 20px;
 }
.burgerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.burgerMenu img{
    display: block;
}

/* home */

#home{
    background-color: var(--color-primario);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--color-secundario);
    font-size: 60px;
    padding-bottom: 1rem;
    font-weight: 700;

}
h2{
    color: var(--color-secundario);

    
}
h2 span{
    background: linear-gradient(to right, #5c89e2,#e23f9c);
    font-size: 35px;
    font-weight:800 ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    white-space: nowrap;
}

#aboutMe{
    margin: 1rem;
    width: 70%; 
    font-size: 20px;    
    font-weight: 400;
    letter-spacing: .05rem;
    color: var(--color-secundario);
}

.buttonVer{
    width: 230px;
    height: 40px;
    border-radius: 10px; 

}

button{
    width: 100%;
    height: 100%;
    border: none;  
    border-radius: 10px;
    background-color: var(--color-fucsia);
    color: var(--color-secundario);
    font-size: 20px;
    font-weight:600 ;
    letter-spacing: .05rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    box-shadow:  2px 4px 3px rgba(134, 133, 133, 0.3);

    margin-top: 3rem;
}

button:hover{
    background-color: var(--color-ternario);
    color: var(--color-fucsia);
}


/* skill */
#skill{
    width: 100%;
    background-color: var(--color-ternario);
}
.containerSkill{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

}
.spanSubTitle{
    color: var(--color-secundario);
    font-size: 35px;
}
.sectionTitle{
    text-align: center;
    padding: 2rem;
    font-size: 45px;
    color: var(--color-secundario);
    text-shadow: 2px 4px 3px rgba(143, 140, 142, 0.3);
}
.skillBox{
    width: 160px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem;
}
.img_skill{
    width: 80px;
    margin: .5rem;
}
.title_skill{
    color: var(--color-primario)
}
/* medias  */
@media only screen and (max-width: 600px) {
    .burgerMenu img{
        display: block;
    }
    .emailBox{
        display: none;
    }
  }